/*===========================
    Header
===========================*/
$headerHeight: auto;
$headerScrolledHeight: auto;

/*===========================
    Content Areas
===========================*/
$contentBoxWidth: 700px;
$contentBoxPadding: 2em 4em 4em 4em;

/*----- Responsive -----*/
$contentBoxWidthMobile: 500px;
$contentBoxPaddingMobile: 2em;

/*===========================
    Hero
===========================*/
$heroHeight: 100vh;
$shortHeroHeight: 20em;

/*===========================
    Logo
===========================*/
$logo: url('/images/logo-warm.svg');
$solidLogo: url('/images/logo-solid.svg');

$logoWidth: 80px;
$logoHeight: $logoWidth;

$solidLogoColor: $white;

/*===========================
    Nav
===========================*/

$navBg: map-get($colorScheme, accentColor);
$navLinkColor: $lightTextColor;

/*----- Nav Icons -----*/
$navIconWidth:36px;
$navIconHeight: $navIconWidth * .8;
$navIconBg: desaturate(darken($navBg, 15%), 40%);

/*----- Nav Button -----*/
$navBtnDiam:60px;

$sandwichWidth: 42%;
$sandwichHeight: 42%;

$navBtnLineWidth: 5px;
$navBtnLineThickness: 5px;
$navBtnLineColor: $lightTextColor;

$navBtnColor:map-get($colorScheme, accentColor);
$navBtnBorder: none;

/*----- Hovered Button -----*/
$navBtnHoverColor: $linkHoverColor;

/*----- Social Icons -----*/
$socialIconDiam: 42px;
$socialIconFontSize: 27px;

/*----- Active Nav -----*/
$activeNavBtnColor: $lightTextColor;

/*===========================
    Responsive
===========================*/
$logoMobileWidth: 68px;
$logoMobileHeight: $logoMobileWidth;

$socialIconMobileDiam: 30px; 
$socialIconMobileFontSize: 22px;