/*===========================
    Clear Floats
===========================*/
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    float:none;
  }
}
/*===========================
    Positions
===========================*/
%absolute-center{
    position:absolute !important;
    top:50% !important;
    left:50% !important;
    z-index:1;
    @include transform("translate(-50%, -50%) !important");
}
%absolute-center-vertical {
    position: absolute !important;
    top: 50% !important;
    z-index: 1;
    @include transform("translateY(-50%) !important");
}
%absolute-center-horizontal {
    position: absolute !important;
    left: 50% !important;
    z-index: 1;
    @include transform("translateX(-50%) !important");
}
%absolute-cover{
    position:absolute !important;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

/*===========================
    Type Stylization
===========================*/

%underlineText {
    padding-bottom:.5em;
    margin-bottom:.5em;
    color:map-get($colorScheme, accentColor);
    position:relative;

    &:before{
        display:block;
        content:'';
        height:$borderThickness * 2;
        width:100%;
        max-width:150px;
        background:map-get($colorScheme, accentColor);
        position:absolute;
        bottom:0;
        left:0;
    }

    @media only screen and (max-width:$navBreakpoint){
        margin-bottom:1em;

        &:before{
            left:0;
            max-width:60px;
        }
    }
}