@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer>
    <div class="iconContainer">
        @{ Html.RenderPartial("socialMediaIcons");}
    </div>
    <div class="copyrightWrp">
        <div class="content-wrapper copyright" id="copyright">
            @Umbraco.Field("copyright", recursive: true)
        </div>
    </div>
</footer>

<script src="/Scripts/copyright.js"></script>