@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer>
    <div class="iconContainer">
        @{ Html.RenderPartial("socialMediaIcons");}
    </div>
    <div class="copyrightWrp">
        <div class="content-wrapper copyright" id="copyright">
            <p>© Copyright @DateTime.Now.Year Kyle Jorve. All rights reserved.<br />Website designed and built by Kyle Jorve.</p>
        </div>
    </div>
</footer>