@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<header>
    <div class="flexContainer">
        <div id="navBtn" class="navBtn">
            <div class="blocksWrp">
                <div class="blockRow">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                </div>
                <div class="blockRow">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                </div>
                <div class="blockRow">
                    <div class="block"></div>
                    <div class="block"></div>
                    <div class="block"></div>
                </div>
            </div>
        </div>
        <div class="logoWrp">
            <a class="logo" href="/">
                @{ Html.RenderPartial("SVGs/logoColor");}
            </a>
        </div>
    </div>
</header>

<div class="topNavWrp">
    @{ Html.RenderPartial("topNavigation");}
</div>