@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="shareToast lightContentBg" id="shareToast">
    <div class="closeBtn" id="closeToast">
        <span></span>
        <span></span>
    </div>
    <div class="content-wrapper">
        <div class="addthis_inline_share_toolbox"></div>
    </div>
</div>
<div class="toastOverlay" id="toastOverlay"></div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
@*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b46d63aaf983a89"></script>*@

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b46d63aaf983a89"></script>

<script src="/Scripts/socialShare.js"></script>