/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                   900PX WIDTH                    //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/
@media only screen and (max-width:900px){
    .lightboxWrp{
        padding:1em .5em;
    }
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                   700PX WIDTH                    //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/
@media only screen and (max-width:700px){
    .arrowBtn{
        width:$mobileArrowBtnDiam;
        height:$mobileArrowBtnDiam;

        i{
            font-size:18px;
        }
    }
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                   600PX WIDTH                    //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/
@media only screen and (max-width:600px){
    .buttonWrp{
        padding:1em 0;
    }

    .button,
    button,
    input[type="submit"],
    a.button{
        font-size:$buttonFontSize * .85;
    }
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                  NAV BREAKPOINT                  //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/
@media only screen and (max-width:$navBreakpoint){
    .closeBtn{
        width:$mobileCloseBtnDiam;
        height:$mobileCloseBtnDiam;
        border-radius: 0 0 0 $mobileBorderRadius;
    }

    .lightbox img{
        border-radius:$mobileBorderRadius;
    }
}