@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PortfolioPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}


<section class="portfolioSection lightContentBg headerBuffer headerBuffer--extra">
    <div class="pageHeading">
        <h1>@Umbraco.Field("heading")</h1>
    </div>
    @{ Html.RenderPartial("portfolioGrid");}
</section>