@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PortfolioPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="leftBuffer">
    <section class="portfolioSection lightContentBg">
        <div class="pageHeading">
            <h1>@Umbraco.Field("heading")</h1>
        </div>
        @{ Html.RenderPartial("portfolioGrid");}
    </section>
</div>